
# Created by https://www.toptal.com/developers/gitignore/api/composer,code
# Edit at https://www.toptal.com/developers/gitignore?templates=composer,code

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Composer ###
composer.phar
/vendor/

### upload ###
/upload/


# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

# End of https://www.toptal.com/developers/gitignore/api/composer,code
